.serie-container {
  background-color: rgb(14, 14, 14);
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.container h2 {
  margin: 40px 0px;
}

p {
  text-align: start;
  max-width: 600px;
  width: 100%;
  margin: 0px 50px 100px 50px;
}

ul {
  list-style: none;
}

img {
  margin: 40px;
}

.accordion {
  margin: 0px 70px;
}
