.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 33, 33);
  padding: 40px 0px 180px 0px;
}

.row {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

app-card {
  width: 200px;
}
